# A Classification of Pulsar and Non-Pulsar Stars

A DSCI 100 Project

## Introduction
Lorem ipsum sit dolor amet

## Preliminary Exploratory Data Analysis
The dataset is available through a public website provided by the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/HTRU2). It is then downloadable by the provided [link](https://archive.ics.uci.edu/ml/machine-learning-databases/00372/) given on that page, as a .ZIP file.

The contents can be extracted and decompressed to reveal an applicable .CSV file which can be directly read into and visualized within Jupyter Notebook, as per the following steps.

In [4]:
# Retrieve relevant packages for dataframes and visualization tools
import pandas as pd
import altair as alt

In [6]:
# Using the extracted contents, read the .CSV file, identifying columns using the associated .ARFF alongside it
pulsar_data = pd.read_csv(
    "../data/HTRU2/HTRU_2.csv",
    # .CSV file contains no column headers, we provide these here
    names=[
        "Profile_mean",
        "Profile_stdev",
        "Profile_skewness",
        "Profile_kurtosis",
        "DM_mean",
        "DM_stdev",
        "DM_skewness",
        "DM_kurtosis",
        "class"
    ]
)

# As a POC, show the first 5 rows of the dataset
pulsar_data.head()

,Profile_mean,Profile_stdev,Profile_skewness,Profile_kurtosis,DM_mean,DM_stdev,DM_skewness,DM_kurtosis,class
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

As given, the data is already within a tidy format: each row of the table corresponds to a single star, characterizing its attributes of aggregated values as columns.

We briefly check some high-level properties of the overall dataset.

In [9]:
pulsar_data.describe()

,Profile_mean,Profile_stdev,Profile_skewness,Profile_kurtosis,DM_mean,DM_stdev,DM_skewness,DM_kurtosis,class
count,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000
mean,111.079968,46.549532,0.477857,1.770279,12.614400,26.326515,8.303556,104.857709,0.091574
std,25.652935,6.843189,1.064040,6.167913,29.472897,19.470572,4.506092,106.514540,0.288432
min,5.812500,24.772042,-1.876011,-1.791886,0.213211,7.370432,-3.139270,-1.976976,0.000000
25%,100.929688,42.376018,0.027098,-0.188572,1.923077,14.437332,5.781506,34.960504,0.000000
50%,115.078125,46.947479,0.223240,0.198710,2.801839,18.461316,8.433515,83.064556,0.000000
75%,127.085938,51.023202,0.473325,0.927783,5.464256,28.428104,10.702959,139.309330,0.000000
max,192.617188,98.778911,8.069522,68.101622,223.392141,110.642211,34.539844,1191.000837,1.000000

// TODO: Describe the data with another table? Maybe number of pulsar and non-pulsar observations included in dataset?

In [25]:
# Keep one other column outside the target classification column
pulsar_data_count = pulsar_data[["class", "Profile_mean"]].groupby("class").count().reset_index()

# Rename the column to more accurate reflect its purpose
pulsar_data_count = pulsar_data_count.rename(columns={"Profile_mean": "count"})
pulsar_data_count

   class  count
0      0  16259
1      1   1639

So we can see that there are a significantly larger number of observations in the dataset that are non-pulsar stars than are pulsar.

// TODO: Visualize some relevant analysis